@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <style>
        body{
            margin: 0px;
        }
    </style>
</head>
<body>
    <canvas id="screen" height="1080" width="1920">
        Canvas Not Supported!!
    </canvas>

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/GameEngine/MathEx.js"></script>
    <script src="~/js/GameEngine/Vector.js"></script>
    <script src="~/js/GameEngine/WorldObject.js"></script>
    <script src="~/js/GameEngine/Emitter.js"></script>
    <script src="~/js/GameEngine/SpriteAnimation.js"></script>
    <script src="~/js/GameEngine/Sprite.js"></script>
    <script src="~/js/GameEngine/Entity.js"></script>
    <script src="~/js/GameEngine/Text.js"></script>
    <script src="~/js/game.js"></script>
    <script src="~/js/main-canvas.js"></script>
</body>
</html>
