@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <canvas id="screen" height="1080" width="1920">
        Canvas Not Supported!!
    </canvas>

    <script src="~/js/engine.js"></script>
    <script src="~/js/canvas.js"></script>
</body>
</html>
