@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">
</head>
<body>
    <canvas id="screen" height="1080" width="1920">
        Canvas Not Supported!!
    </canvas>

    <script src="~/js/engine.js"></script>
    <script src="~/js/GameEngine/Sprite.js"></script>
    <script src="~/js/GameEngine/Text.js"></script>
    <script src="~/js/main-canvas.js"></script>
</body>
</html>
